<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container mt-5">
    <a href="/edit-restaurant" class="btn btn-primary">Edit restaurant</a>


<!--    <div id="app">-->
<!--        {{ message }}-->
<!--    </div>-->

<!--    <script>-->
<!--        const app = Vue.createApp({-->
<!--            data() {-->
<!--                return {-->
<!--                    message: "Bonjour Vue 3 !"-->
<!--                };-->
<!--            }-->
<!--        });-->

<!--        app.mount('#app');-->
<!--    </script>-->
</div>
</body>
</html>