    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <body>
    <div class="container mt-5">
        <form action="/login" method="post">
            <div th:if="${successMessage}" class="alert alert-success" role="alert">
                <span th:text="${successMessage}"></span>
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>

            <div th:if="${errorMessage2}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage2}"></span>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Entrez votre email" required>
            </div>

            <div class="mb-3">
                <label for="mdp" class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" id="mdp" placeholder="Entrez votre mot de passe" required>
            </div>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
    </body>
    </html>